requests
setuptools
pynacl
ed25519
ed25519_blake2b
bitstring

# for testing
nox
mock
pytest
pytest-cov
flake8
flake8-docstrings
flake8-annotations
flake8-import-order
Faker

# for documentation / mkdocs
mkdocs
mkdocstrings
mkdocstrings-python
